<!DOCTYPE html>
<html>
<head>
	<title>Ajout</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.form-ajout {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
	</style>
</head>
<body>
	<form class="form-ajout" action="/ajout" enctype="multipart/form-data" method="post">
		<div>
			<label for="nom">Nom  :</label>
			</br>
			<input type="text" id="nom" name="nom" required maxlength="40" size="40">
		</div>
		</br>
		<div>
		  	<label for="">Choisissez le type : &emsp;</label>
			<label class="radio-inline">
				<input type="radio" id="film" name="type" value="film" checked> Film&emsp;
			</label>
			<label class="radio-inline">
				<input type="radio" id="serie" name="type" value="serie"> Serie&emsp;
			</label>
		</div>
		</br>
		<div>
		  	<label>Choisissez la ou les catégorie(s) :</label>
			<div><% categories.forEach(function(cate) { %>
				<input type="checkbox" id="categorieSelect" name="categorieSelect" value="<%= cate %>" />
				<label>&ensp;<%= cate %></label>
				</br>
				<% }); %>
			</div>
		</div>
		</br>
		<div>
			<label for="fondpage">Fond de la page :</label>
			<input type="file" class="form-control-file" name="fondpage" accept="image/png, image/jpeg" required>
		</div>
		</br>
		<div>
			<label for="affiche">Affiche :</label>
			<input type="file" class="form-control-file" name="affiche" accept="image/png, image/jpeg" required>
		</div>
		</br>
		<div>
		  <label for="description">Description :</label>
		  <textarea id="description" name="description" rows="5" cols="42" required></textarea>
		</div>
		</br>
		<div>
		   	<label for="name">URL du trailer :</label>
			<input type="text" id="urlTrailer" name="urlTrailer" maxlength="40" size="40" required>
		</div>
		</br>
		<div>
		   	<label for="name">Nom plateforme :</label>
			<input type="text" id="platforme" name="platforme" maxlength="40" size="40" required>
		</div>
		</br>
		<div>
			<label for="nomPersonnage">Nom personnage :</label>
			<input type="text" id="nomPersonnage" name="nomPersonnage" maxlength="40" size="40" required>
		</div>
		 </br>
		 <div>
			<label for="descriptionPersonnage">Description personnage :</label>
			<input type="text" id="descriptionPersonnage" name="descriptionPersonnage"  maxlength="40" size="40" required>
		 </div>
		 </br>
		 <div>
			<label for="iconePersonnage">Icone personnage :</label>
			<input type="file" id="iconePersonnage" name="iconePersonnage" accept="image/png, image/jpeg" maxlength="40" size="40" required>
		 </div>
		 </br>		
		 <div>
			 <label for="fondPersonnage">Fond personnage :</label>
			 <input type="file" id="fondPersonnage" name="fondPersonnage" accept="image/png, image/jpeg" maxlength="40" size="40" required>
		 </div>
	  <br><br>
	  <input type="submit" value="Ajouter">
	</form>

</body>
<script>
	
</script>
</html>