<!DOCTYPE html>
<html class="h-100">
<link type="text/css" rel="stylesheet" href="css/style.css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<title>Inscription</title>
</head>
<body id="body" class="d-flex flex-column h-100">
	<div id="navbar">
		<manavbar></manavbar>
	</div>
	<div class="form-signin">
		<form id="inscription" action="/inscription" method="post">
			<h1 class="h3 mb-3 fw-normal">S'inscrire</h1>
			<div id="textexiste">
				<p v-show="<%= existe %>">L'utilisateur existe déjà</p>
			</div>
			<div class="form-floating">
				<input type="text" name="username" class="form-control" id="floatingUsername" maxlength="40" placeholder="Nom d'utilisateur" required/>
				<label for="floatingUsername">Nom d'utilisateur</label>
			</div>
			<div class="form-floating">
				<input type="password" name="mdp" class="form-control" id="floatingPassword" maxlength="40" placeholder="Mot de passe" required/>
				<label for="floatingPassword">Mot de passe</label>
                <p id="dejainscrit">Déjà inscrit ? <a href="/connexion">Connectez-vous.</a></p>
			</div>
			<div id="buttonInscription">
		 		<button class="btn btn-submit" type="submit">Inscription</button>
				<button class="btn btn-reset" type="reset" onClick="window.location.href='/'">Annuler</button>
			</div>
		</form>
	</div>
<div id="footer" class="footer mt-auto py-3">
	<monfooter></monfooter>
</div>
<script src="js/manavbar.vue"></script>
<script src="js/monfooter.vue"></script>
</body>
</html>
<script>
	let app = new Vue({
        el: "#textexiste",
		data: {
			existe: false
		},
	});
</script>