<!DOCTYPE html>
<html class="h-100">
<link type="text/css" rel="stylesheet" href="css/style.css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
	<title>Présentation</title>
</head>

<body id="fond" class="d-flex flex-column h-100" onload="loadPresentation()">
<div id="navbar">
	<manavbar></manavbar>
</div>
<div id="disposition">
	<div id="contenu">
		<h1 id="titleSerie"><%= nomSerie %></h1>
		<div id="divButtonVue"></div>
		<div id="boutonDiv">
			<div id="presentation">
				<mypresentation id="mypresentation" v-for="pres in presentation" v-bind:nom="pres.nomSerie" v-bind:description="pres.descriptionSerie"></mypresentation>
			</div>
			<div id="trailer">
				<mytrailer id="mytrailer" v-for="trail in trailer" v-bind:trailer="trail.trailerSerie"></mytrailer>
			</div>
		</div>
	</div>
</div>

<div id="footer" class="footer mt-auto py-3">
	<monfooter></monfooter>
</div>
<script src="js/manavbar.vue"></script>
<script src="js/monfooter.vue"></script>
<script>

	function addListener(){
		document.getElementById('Presentation').addEventListener("click", loadPresentation);
		document.getElementById('Trailer').addEventListener("click", loadTrailer);
	}

	var app1 = new Vue({
	el: '#divButtonVue',
	data: {
		boutons: ['Presentation', 'Trailer', 'Personnages', 'Avis'],
	},
	template: 	`<div id="divButtonSerie">
					<button v-bind:id="bouton" v-for='bouton in boutons'>{{ bouton }}</button>
				</div>`
	});

	let presentation = null;
	let nomSerie = document.getElementById('titleSerie').textContent;


	function loadPresentation() {
	  addListener();
	  const xhttp = new XMLHttpRequest();
	  xhttp.onload = function() {
	  	presentation = JSON.parse(this.responseText);
	  	console.log(presentation);
	  	document.getElementById("fond").setAttribute("style", "background-image: url('"+ presentation[0].fondSerie +"')");
		let myNode = document.getElementById('mytrailer');
		console.log(myNode);
		if(myNode != null){
			while (myNode.firstChild) { 
				myNode.removeChild(myNode.firstChild);
			}
			myNode.remove();
		} 
	  	createdVuePresentation(presentation);
	  }
	  xhttp.open("POST", "./presentation.ajax?nomSerie='" + nomSerie +  "'", true); 
	  xhttp.send();
	}

	function loadTrailer() {
		addListener();
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			console.log(this.responseText);
			trailer = JSON.parse(this.responseText);
			console.log(trailer);

			var myNode = document.getElementById("mypresentation"); 
			while (myNode.firstChild) { 
				myNode.removeChild(myNode.firstChild); 
			}
			document.getElementById("mypresentation").remove();
			createdVueTrailer(trailer);
		}
		xhttp.open("POST", "./trailer.ajax?nomSerie='" + nomSerie +  "'", true); 
		xhttp.send();
	}

	let mypresentation = {
		props: ['nom', 'description'],
		template: `<div>
					<h1>{{ nom }}</h1>
					<p>{{ description }}</p>
					</div>`
	}

	let mytrailer = {
		props: ['trailer'],
		template: `<div>
			<iframe v-bind:src="trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>`
	}

	function createdVuePresentation(mapresentation){
		let maPresentation = new Vue ({
			el: '#presentation',
			data: {
				presentation : mapresentation
			},
			components: {mypresentation},
		});
	}

	function createdVueTrailer(montrailer){
		let monTrailer = new Vue ({
			el: '#trailer',
			data: {
				trailer : montrailer
			},
			components: {mytrailer},
		});
	}


</script>
</body>
</html>