<!DOCTYPE html>
<html class="h-100">
<link type="text/css" rel="stylesheet" href="css/style.css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
  <title>Série</title>
</head>
<body id="body" onload="loadDoc()">
<div id="navbar">
  <manavbar></manavbar>
</div>
<div >
  <div class="row row-cols-1 row-cols-md-4" id="mescards">
    <macard v-for="serie in series"
            v-bind:nom="serie.nomSerie"
            v-bind:affiche="serie.afficheSerie">
    </macard>
  </div>
</div>
<div id="footer" class="footer mt-auto py-3">
  <monfooter></monfooter>
</div>
<script src="js/manavbar.vue"></script>
<script src="js/macard.vue"></script>
<script src="js/monfooter.vue"></script>
</body>

</html>