#logo{
	font-weight: bold;
	font-size: 24px;
	color: red; 
	margin-right: 0px; 
	margin-left: 22px;
}

#fond{
	background-size: 100% 100%; 
	background-attachment: fixed; 
}

.flex-container {
  padding: 0;
  margin: 0;
  margin: 100px 0px 100px 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.perso{
  width: 70px;
  height: 70px;
}

.perso:hover, .perso:focus{
  width: 120px;
  height: 120px;
  cursor: pointer;
}

#body{
	background-image: url('../img/fond.png'); 
	background-size: 100% 100%; 
	background-attachment: fixed; 
}

#navul{
	margin-right: 100px;
}

#navbarCollapse{
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}

.nav-item{
	margin: 0px 10px 0px 10px; 
}

.navbar, .footer{
    background-color: white!important;
}

.container{
	text-align: center;
}

@media (min-width: 768px)
.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 15%;
}

#divButtonSerie{
	display: flex; 
	flex-direction: row; 
	justify-content: space-around; 
	margin-bottom: 100px;
}

#buttonSerie{
	width: 150px;
}

#accueil{
	margin:  300px 100px 0px 100px;
}

#accueil p{
		text-align: justify;
}

h1{
		margin-bottom: 50px!important;
		text-align: center;
}

#mescards{
	margin: 100px 300px 0px 300px; 
	justify-content: center;
}

.card{
	cursor: pointer;
	border-color: black!important;
	margin-bottom: 100px!important;
}

.card:hover{
	transform: scale(1.1);
	border-width: 2px!important;
	border-color: red!important;
	color: red;
}

.card-title{
	text-align: center;
}

#disposition{
	display: grid; 
	grid-template-columns: 1.3fr 1fr;
}

#contenu{
	margin: 100px; 
	text-align: center;
}

#boutonDiv{
	text-align: justify;
}

#divButtonSerie{
	margin: 100px 0px 100px 0px;
}

#divButtonSerie button{
	width: 120px;
	border-radius: 4px;
	border-width: 2px;
	border-color: black;
	background-color: white;
}

#divButtonSerie button:hover, button:focus{
	transform: scale(1.1);
	color: red;
	border-color: red!important;
}


#inscription, #connexion{
	margin: 10% 30% 10% 30%;
	border: solid 2px red!important;
	border-radius: 4px!important;
	background-color: white;
	padding: 50px;
}

#dejainscrit, #pasinscrit {
		margin-top: 10px;
    font-size: 13px;
}

#textexiste, #textnontrouve {
	color: red;
}

.form-floating {
	margin-top: 30px;
}

.btn {
    width: 100px;
}

.btn-submit {
  color: white!important;
  background-color: red!important;
  width: 150px;
  height: 50px;
}
.btn-reset {
	margin-top: 10px;
  color: white!important;
  background-color: black!important;
  width: 150px;
  height: 50px;
 }

.btn-reset:hover, .btn-submit:hover {
	transform: scale(1.1);
}


#buttonInscription{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	margin-top: 30px;
}

