
let macard = {
    props: ['nom', 'affiche'],
    template:`
    <form action="/presentation" method="post">
      <input type="hidden" name="nomSerie" v-bind:value="nom">
      <div class="col mb-4" onClick="javascript:this.parentNode.submit();">
        <div class="card h-100">
        <img v-bind:src="affiche" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ nom }}</h5>
            </div>
        </div>
      </div>
    </form>`
  }
  let series = null;
  
  function loadDoc() {
    const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
         series = JSON.parse(this.responseText);
         createdVue(series);
         };
      xhttp.open("GET", "./series.ajax", true);
      xhttp.send();
  }
  
  function createdVue(mesSeries) {
    let myCard = new Vue({
      el: '#mescards',
      data:{
        series : mesSeries
      },
      components: {macard},
  })};  