Vue.component('manavbar', {
	template: 	`<nav class="navbar navbar-expand-md navbar-light fixed-top">
				  <a id="logo" class="navbar-brand" href="/accueil">NETFILM</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarCollapse">
				    <ul id="navul" class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="/accueil">Accueil</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/serie">Films</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/serie">Séries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="/inscription">Inscription</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/connexion">Connexion</a>
				      </li>
				    </ul>
				  </div>
				</nav>`
});

var navbar = new Vue({
	el: '#navbar'
});