Vue.component('monfooter', {
		template: `<footer>
  						<div class="container">
    						<span>Copyright @NETFILM</span>
  						</div>
					</footer>`
});
	
var footer = new Vue({
	el: '#footer'
});