Vue.component('macard',{
  props: ['series'],
template: `
<div>
  <div v-for="serie in series" class="col mb-4">
    <div class="card h-100">
    <img v-bind:src="serie.afficheSerie" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ serie.nomSerie }}</h5>
        </div>
    </div>
  </div>
</div>`
});


var card = new Vue({
	el: '#serie'
});